VITE_PSEUDONYMIZATION_URL=https://pseudonymization.neoengage.io
VITE_REPERSONALIZATION_URL=https://repersonalize.neoengage.io
VITE_PAM_URL=https://pam.neoengage.io
VITE_AUTONOMOUS_AGENT_URL=https://autonomous-agent.neoengage.io
VITE_PROMPT_ENGINE_URL=https://prompt-engine.neoengage.io
VITE_VALIDATION_URL=https://validator.neoengage.io
VITE_QDRANT_URL=https://qdrant.neoengage.io
VITE_OLLAMA_URL=https://ollama.neoengage.io
VITE_OLLAMA_API_KEY=Ym91bmR0eXBpY2Fsc2V2ZW56ZWJyYXBvb3Jmb3Jnb3R0ZW5tb3ZpZW5vaXNlbWF0ZXI=

